<h1 mat-dialog-title>Edit Market Competitor</h1>
<div class="edit-felicity-marketcompetitor">
  <div class="input">
    <form [formGroup]="editFelicityMarketCompetitor">
      <div mat-dialog-content>
        <mat-form-field>
          <mat-label>Market Name</mat-label>
          <input type="text" matInput placeholder="" formControlName="market_name">
        </mat-form-field> <br>
      </div>
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="editFelicityMarketCompetitor"
          [disabled]="!editFelicityMarketCompetitor.valid">Update</button>
        <button mat-button (click)="onNoClick()">Cancel</button>
      </div>
    </form>
  </div>
</div>