<app-loading *ngIf="isLoading"></app-loading>
<div class="reset-password-container">
    <div class="reset-password-form">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h1>Create New Password</h1>
            <hr>
            <p>Enter your new password</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="(isHidePassword == true)?'password':'text'" formControlName="newPassword">
                <mat-icon matSuffix (click)="changePasswordVisibility()">{{passwordIcon}}</mat-icon>
                <mat-error *ngIf="newPassword.errors?.['required']">
                    Password field is required
                </mat-error>
                <mat-error *ngIf="newPassword.errors?.['pattern']">
                    Password must contain at least one number, one uppercase and a
                    lowercase letter and at least 8 characters<br />Password cannot
                    contain whitespace
                </mat-error>
            </mat-form-field> <br><br> <br>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="(isHideConfirmPassword == true)?'password':'text'"
                    formControlName="confirmPassword">
                <mat-icon matSuffix (click)="changeConfirmPasswordVisibility()">{{confirmPasswordIcon}}</mat-icon>
                <mat-error *ngIf="confirmPassword.errors?.['required']">
                    Confirm Password field is required
                </mat-error>
                <mat-error *ngIf="confirmPassword.errors?.['pattern']">
                    Password must contain at least one number, one uppercase and a
                    lowercase letter and at least 8 characters<br />Password cannot
                    contain whitespace
                </mat-error>
                <mat-error *ngIf="confirmPassword.errors?.['confirmedValidator']">
                    Passwords did not match
                </mat-error>
            </mat-form-field> <br><br><br>
            <button mat-flat-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Reset
                Password</button>
        </form>
    </div>

</div>