<div class="loading-container">
  <div class="loading">
    <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 236.94 126.77">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }

          .cls-2 {
            fill: url(#linear-gradient-3);
          }

          .cls-3 {
            fill: url(#linear-gradient-4);
          }

          .cls-4 {
            fill: url(#linear-gradient-2);
          }

          .cls-1 {
            animation: appear 2s ease-in-out infinite, grow 2s ease-in-out infinite;
          }

          .cls-2 {
            animation: appear 2s ease-in-out infinite, grow 2s ease-in-out infinite;
            animation-delay: 0.1s;
          }

          .cls-3 {
            animation: appear 2s ease-in-out infinite, grow 2s ease-in-out infinite;
            animation-delay: 0.3s;
          }

          .cls-4 {
            animation: appear 2s ease-in-out infinite, grow 2s ease-in-out infinite;
            animation-delay: 0.5s;
          }

          @keyframes appear {
            0% {
              opacity: 0;
              stroke-dashoffset: 100%;
              transform: scale(0.4);
              transform-origin: center;
            }

            100% {
              opacity: 1;
              stroke-dashoffset: 0;
              transform: scale(1);
              transform-origin: center;
            }
          }

          @keyframes grow {
            0% {
              transform: scale(0);
            }

            100% {
              transform: scale(1);
            }
          }
        </style>
        <linearGradient id="linear-gradient" x1="27.13" y1="136.52" x2="232.68" y2="29.79"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#63c196" />
          <stop offset=".53" stop-color="#4ca791" />
          <stop offset="1" stop-color="#2a637e" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="9.94" y1="103.42" x2="215.49" y2="-3.31"
          xlink:href="#linear-gradient" />
        <linearGradient id="linear-gradient-3" x1="6.99" y1="97.73" x2="212.54" y2="-8.99"
          xlink:href="#linear-gradient" />
        <linearGradient id="linear-gradient-4" x1="-4.52" y1="75.57" x2="201.03" y2="-31.16"
          xlink:href="#linear-gradient" />
      </defs>
      <g id="Layer_1-2" data-name="Layer 1">
        <g>
          <path class="cls-1"
            d="M178.53,39.81h0c-74.11-8.51-81.14,70.26-68.56,86.96,20.29-53.94,77.56-63.69,102.21-91.34-4.38,3.53-20.66,5.88-33.65,4.38Z" />
          <path class="cls-4"
            d="M184.99,9.49c-56.73-33.65-92.29,30.73-76.33,60.7,29.34-62.61,93.98-13.79,128.28-54.49-10.21,2.07-35.76,5.27-51.95-6.21Z" />
          <path class="cls-2"
            d="M77.53,53.76h0c-15.38-1.83-37.77,4.51-61.98-5.5,32.07,36.92,62.19,24.69,82.64,47.15,0,0,12.8-31.76-20.66-41.65Z" />
          <path class="cls-3"
            d="M80.8,21.82c-10.92-.09-16,4.99-28.56,10.21C30.54,41.05,0,37.4,0,37.4c40.3,24.56,74.28-.2,95.58,22.02,15.97-23.29-3.86-37.51-14.78-37.6Z" />
        </g>
      </g>
    </svg>
  </div>
</div>