<div class="add-user">
  <form [formGroup]="addUserForm">
    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Enter email">
        <mat-hint></mat-hint>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br><br>
      <div *ngIf="user_category == 'Superadmin'">
      <mat-form-field>
        <mat-label>User Category</mat-label>
        <mat-select formControlName="user_category" (selectionChange)="onUserCategoryChange($event)">
          <mat-option value="Superadmin">Superadmin</mat-option>
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="User">User</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field *ngIf="addUserForm.value.user_category != 'Superadmin'">
        <mat-label>System Category</mat-label>
        <mat-select formControlName="system_category">
          <mat-option value="felicity">Felicity</mat-option>
          <mat-option value="suleat">Suleat</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="tabs" *ngIf="tabs && addUserForm.value.user_category != 'Superadmin'">
      <h4>Assign tabs</h4>
      <p><mat-checkbox formControlName="sales_admin" *ngIf="tabs.includes('Sales Admin')">Sales Admin</mat-checkbox></p>
      <p><mat-checkbox formControlName="production_admin" *ngIf="tabs.includes('Production Admin')">Production Admin</mat-checkbox></p>
      <p><mat-checkbox formControlName="delivery_admin" *ngIf="tabs.includes('Delivery Admin')">Delivery Admin</mat-checkbox></p>
      <p><mat-checkbox formControlName="order_analytics" *ngIf="tabs.includes('Order Analytics')">Order Analytics</mat-checkbox></p>
    </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="addUserForm" [disabled]="!addUserForm.valid 
      || addUserForm.value.user_category == '' 
      ||  addUserForm.value.system_category == '' ">Add</button>

      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>